<div class="admin-nav">
    <img src="https://media.discordapp.net/attachments/1041782780482289714/1042331769984254012/Group_17.png" alt="">
    <h1>
        Kabira
    </h1>
    <ul>
        <li><a href="/admin/task">Add Job</a></li>
        <li><a href="/admin/view">View Job</a></li>
    </ul>
</div>
    <div class="tasks-div">
        <h1>
            Your Gang
        </h1>
        <div class="grid">
            <% if(user.length > 0){ %>
            <% for (var i = 0; i < user.length; i++){ %>
    
                <div class="blob">
                    <h2>
                        <%= user[i]['name'] %>
                    </h2>
                    <h4>
                        <i><%= user[i]['role'] %></i>   
                    </h4>
                    <p>
                        Location: <%= user[i]['location'] %>
                    </p>
                    <a style="margin-left: 2.25vw;" href="/admin/userInfo/<%= user[i]['id'] %>">More</a>
                    <a href="https://www.google.com/maps/@<%= user[i].location[0] %>,<%= user[i].location[1] %>,15z" target="_blank">
                        Location
                    </a>                    
                </div>
            <% } %><% } %>
        </div>
    </div>
