<div class="admin-nav">
    <img src="https://media.discordapp.net/attachments/1041782780482289714/1042331769984254012/Group_17.png" alt="">
    <h1>
        Kabira
    </h1>
    <ul>
        <ul>
            <li><a href="/admin/">Home</a></li>
            <li><a href="/admin/task">Add Job</a></li>
        </ul>
    </ul>
</div>
<div class="tasks-div">
    <h1>
        Jobs
    </h1>
    <div class="grid">
        <% if(task.length > 0){ %>
        <% for (var i = 0; i < task.length; i++){ %>
            <div class="blob">
                <h2>
                    <%= task[i]['title'] %>
                </h2>
                <h4>
                    <i><%= task[i]['role'] %></i>   
                </h4>
                <p>
                    <%= task[i]['description'] %> 
                </p>
                <div style="display: flex;">
                    <form action="/admin/done" method="post">
                        <input type="hidden" name="id" value="<%=task[i]['_id']%>" id="id">
                        <input type="submit" value="Done">
                    </form>
                    <form action="/admin/del" method="post" style="margin-left: -2.5vw;">
                        <input type="hidden" name="id" value="<%=task[i]['_id']%>" id="id">
                        <input type="submit" value="Delete">
                    </form>
                </div>
            </div>
        <% } %>
        <% } else { %>
            <p style="width: 125vh; font-size: 2.5vw; text-align: center;">ALL TASKS DONE NOW ENJOY YOUR TIME WITH DAAKU ISHAN AND HIS ASSISTANT KABIRA
                <br> <br>
                <a href="/admin/chill" style="text-decoration: none; color: #EFB546;">let's chill</a>
            </p>    
        
        <% } %>
    </div>
</div>